page-login {
	.bg {
		height: 4.6rem;
		position: relative;

		img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			width: 6.16rem;
			height: 2rem;
		}
	}
}
