.pq-filter-hotel-modal {
    width: 100%;
    height: 100%;

    .pq-modal-content{
        background-color: #fff;
        padding-bottom: rem(20);

        .pq-filter-header{
            width: 100%;
            height: rem(44);
            background-color: rgba(0, 0, 0, .1);
            border-bottom: 1px solid #ccc;
            align-items: center;
            justify-content: center;
        }

        .pq-check-btn{
	        width: 100%;
	        overflow: hidden;
	        padding: 0 rem(18);
	        margin-top: rem(18);
        }
    }
}