page-order {
    .mt0 {
		margin-top: rem(-44);
	}
	.not-login {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		height: rem(100);
		width: rem(200);
	}

	ion-content {
		background-color: #ededed !important;
}

	.flex_box {
		display: -webkit-flex; /* Safari */
		display: flex;
		align-items: center;
	}

	.deposit_type {
		width: 100%;
		height: 1rem;
		background-color: #fff;
		//margin-top: rem(44);
	}

	.selected {
		background-color: #fff !important;
		border-bottom: 2px solid;
	}

	.deposit_type li {
		width: 33.33%;
		height: 100%;
		float: left;
		text-align: center;
		line-height: 1rem;
	}

	.orderList {
		width: 100%;
		overflow: hidden;
		padding: 0 0.5rem;
	}

	.orderList .orderItem {
		width: 100%;
		height: 5.5rem;
		background-color: #fff;
		margin: 0.5rem 0;
		border-radius: 0.2rem;
		box-shadow: 0 0 20px -2px #ddd;
	}

	.orderItem_title {
		width: 100%;
		height: 1.5rem;
		background-color: #6a1684;
		border-top-left-radius: 0.2rem;
		border-top-right-radius: 0.2rem;
		color: #fff;
		padding-left: 0.3rem;
	}

	.hotel_name {
		font-size: rem(14);
		line-height: 0.8rem;
		font-weight:bold;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.live_time {
		font-size: 0.375rem;
		line-height: 0.7rem;
	}

	.orderItem_content {
		width: 100%;
		height: 4rem;
		color: #000;
		padding: 0 0.3rem;
		padding-top: 0.25rem;
		position: relative;
	}

	.orderItem_content p {
		font-size: 0.375rem;
		line-height: 0.75rem;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.hotel_address {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.folio_id_txt, .folio_state_txt {
		//font-weight: 600;
	}

	.folio_state {
		justify-content: space-between;
	}

	.folio_price {
		color: #f00;
		font-weight: 600;
	}

	.btn_list {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1.5rem;
		align-items: center;
		justify-content: flex-end;
	}

	.btn_list div {
		width: 2rem;
		height: 0.7rem;
		text-align: center;
		margin-right: 0.1rem;
		border-radius: 0.1rem;
		align-items: center;
		justify-content: center;
	}

	.btn_list div:last-child {
		margin-right: rem(10);
	}

	.btn_list div p {
		-webkit-transform: scale(0.8);
		line-height: 0.7rem;
	}

	.cancel_folio, .check_folio, .delete_folio {
		border: 1px solid #aaa;
		//background-color: #dddddd;
		color: #000;
	}

	.comment_folio, .to_pay {
		color: #fff;
	}

	.empty_show {
		display: block;
		text-align: center;
		color: #000;
		font-size: rem(12);
		line-height: rem(40);
	}

	.loadMore {
		text-align: center;
		color: #6a1684;
		display: none;
	}
}
