page-enter-password {
	ion-content {
		.mark {
			width: 100%;
			height: 100%;
			background: #000;
			opacity: .5;
		}

		.enter-box {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 35%;
			min-height:rem(240);
			background: #fff;

			.head {
				height: rem(40);
				border-bottom: 1px solid $line;
				position: relative;

				i {
					line-height: rem(40);
					position:absolute;
					left:0;
					top:0;
					z-index:10;
					padding: 0 16px;
					font-size: rem(12);
					color: #797979;
				}

				span {
					position: absolute;
					//width:
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					text-align: center;
					line-height: rem(40);
					font-size: rem(16);
				}
			}

			.content {
				padding: rem(23) 16px 0;

				.input-box {
					height: rem(42);
					border: 1px solid $line;
					border-radius: 6px;

					input {
						border: 0;
						padding: rem(12);
						width: 80%;
						float: left;
						background: none;
					}

					button {
						width: 20%;
						float: left;
						background: none;
						padding: rem(12);
						color: #7F8387;
						font-size: rem(16);
						position: relative;

						&:after {
							content: '';
							background: $line;
							position: absolute;
							width: 1px;
							height: rem(24);
							left: -1px;
							top: calc( 50% - .32rem );
						}
					}
				}

				& > span {
					padding: rem(8) 0;
				}
			}
		}
	}
}
