page-hotel{
	ion-header{
		.dismiss{
			position: absolute;
			padding: 10px 16px;
			font-size: 24px;
			top: 0;
			left: 0;
		}
	}
	.pq-hotel-info-list {
		overflow: hidden;
		padding: 0 rem(12);
		background-color: #fff;

		.pq-hotel-info-item {
			min-height: rem(44);
			border-bottom: 1px solid #ededed;
			align-items: center;
			justify-content: space-between;
			padding: rem(12) 0;

			> div {
				height: 100%;
				align-items: center;
			}

			.pq-hotel-info-msg {
				width: 75%;
				justify-content: flex-start;

				.comment-score{
					font-size:rem(20);
				}
				img {
					width: auto;
					height: rem(16);
					margin-right: 12px;
				}

				.star-box {
					position: relative;
					display: inline-block;
					margin-left:rem(8);
					font-size: 0;

					.star-top {
						position: absolute;
						left: 0;
						top: 0;
						white-space:nowrap;
						overflow:hidden;
					}

					.star-bottom {
						.iconfont {
							color: #e5e5e5 !important;
						}
					}

					.iconfont {
						font-size: .22rem;
						margin: 0 .03rem;
					}
				}
			}

			.pq-hotel-info-btn {
				width: 20%;
				justify-content: flex-end;


				i {
					font-size: rem(12);
					margin-left: rem(8);
				}
			}

			&:first-child {
				.pq-hotel-info-msg {
					width: 60%;
				}

				.pq-hotel-info-btn {
					width: 40%;
				}
			}
		}
	}

	.pq-hotel-slide-bar{
		width: 100%;
		overflow: hidden;

		img{
			width: 100%;
			height: auto;
		}
	}

	.pq-date-picker{
		width: 100%;
		height: rem(48);
		background-color: #fff;
		padding: 5px 0;
		font-size: rem(14);
		overflow: hidden;
		position: relative;
		
		>div{
			width: 33.33%;
			height: 100%;
			background-color: #fff;
			float: left;
			z-index: 2;
		}

		.check_in,.check_out{
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.time{
				color: #ffc800;
				margin-top: 5px;
			}
		}
		
		.date_num{
			align-items: center;
			justify-content: center;

			.num_box{
				align-items: center;
				justify-content: center;
				width: rem(50) !important;
				height: rem(20) !important;
				border: 1px solid #000;
				border-radius: rem(18);
				background-color: #fff;
				z-index: 2;
				
				.hotel_dayNum{
					font-size: rem(10);
				}
			}
		}
		
		.line{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto; 
			width: 1px !important;
			height: 90% !important;
			background-color: #000 !important;
			z-index: 1 !important;
		}
	}

	.pq-gray-split{
		width: 100%;
		height: rem(12);
		background-color: #ededed;
	}

	.pq-roomType {
		width: 100%;
		overflow: hidden;

		.pq-roomType-item {
			width: 100%;
			height: rem(88);
			background-color: #fff;
			padding: rem(12);
			border: 1px solid transparent;
			border-bottom: 1px solid #ededed;
			position: relative;

			.pq-roomType-item-msg {
				width: 100%;
				height: 100%;
				position: relative;

				img {
					height: rem(64);
					width: auto;
					float: left;
					margin-right: rem(10);
				}

				.pq-room-info {
					float: left;
					height: 100%;
					width:rem(250);
					flex-direction: column;
					align-items: flex-start;
					justify-content: space-between;
					position: relative;

					.pq-roomTypeName {
						font-size: rem(15);
						color: #000;
						font-weight: 600;
						max-width:rem(250);
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}

					.pq-defaultPrice {
						font-size: rem(10);
						color: #aaa;
					}

					.member-price{
						font-size:rem(16);
					}
					.font-theme-color {
						font-size: rem(12);
					}
				}
			}

			.pq-roomType-item-btn {
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;

				.pq-room-btn {
					position: absolute;
					right: rem(12);
					bottom: rem(12);
					width: rem(124);
					height: rem(30);
					border-radius: 4px;
					text-align: right;
					
					&>span{
						display: block;
						float: left;
						padding: rem(13) rem(4) 0 0;
						font-size: rem(12);
					}
					button {
						width: 50%;
						height: 100%;
						margin: 0;
						padding: 0;
					}
					&>i{
						font-size:rem(26);
					}
				}
			}
		}
	}
}