page-payment {
    .item-list {
        div.list {
            padding: 0 16px;
            height: rem(44);
            display: flex;
            display: -webkit-flex;
            align-items: flex-end;
            justify-content: flex-start;
            line-height: rem(44);

            label {
                width: 25%;
                line-height: rem(44);
            }

            & > span {
                width: 75%;

                img {
                    width: rem(18);
                    float: left;
                    margin-right: 0.2rem;
                    margin-top: rem(13);
                }

                img:last-child {
                    width: rem(20);
                    margin-right: 0;
                    float: right;

                    &[float-left] {
                        width: rem(8);
                        margin-top: rem(19);
                        margin-left: rem(5);
                    }
                }

                span {
                    font-size: rem(11);
                    float: left;
                }

                [absolute] {
                    left: 0;
                    top: rem(14);
                    font-size: rem(8);
                    font-style: normal;
                    color: $labelColor;
                }
            }

            .price,
            .discountAmount {
                font-weight: bold;
                color: red;
                font-size: rem(16);
            }
            .discountAmount{
                margin-right: rem(30);
            }
        }
    }

    .payTypeBox{
        width: 100%;
        position: relative;

        .pay-type-title{
            position: absolute;
            top: 0;
            left: 0;
            width: 25%;
            height: rem(44);
            padding-left: 16px;
            line-height: rem(44);
        }

        .pay-type-list{
            width: 100%;
            overflow: hidden;
            position: relative;
            flex-direction: column;

            li{
                width: 100%;
                height: rem(44);
                padding-left: 16px;
                border-top: 1px solid #ededed;

                >div{
                    width: 100%;
                    height: 100%;
                    margin-left: 25%;
                    padding-right: rem(60);
                    align-items: center;
                    justify-content: flex-start;
                    position: relative;

                    img{
                        height: rem(18);
                        width: auto;
                        margin-right: rem(8);
                    }

                    span{
                        flex-direction: column;
                        align-items: center;
                        font-size: rem(14);
                    }

                    div{
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: rem(44);
                        height: 100%;
                        align-items: center;
                        justify-content: flex-end;
                        padding-right: 16px;
                        font-size: rem(20);
                    }
                }
            }
        }
    }

    .footer{
        button{
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }
}