<ion-header *ngIf="m_objContextService.m_isWeiXin" class="{{m_objThemeService.colorTheme()}}">
  <ion-navbar>
    <ion-title>{{'设置[设置]' | i18n}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="{{m_objThemeService.colorTheme()}} pq-bg-light-gray" padding-top>
	<ion-list *ngIf="m_lsFunctionList[0]" (click)="changeColor()" class="list-ios">
		<a ion-item>{{'主题[主题]' | i18n}}</a>
	</ion-list>
	<ion-list *ngIf="m_lsFunctionList[1]" (click)="changeLanguage()" class="list-ios">
		<a ion-item>{{'语言[语言]' | i18n}}</a>
	</ion-list>
	<ion-list *ngIf="m_lsFunctionList[2]" class="list-ios">
		<a ion-item>{{'用户说明[用户说明]' | i18n}}</a>
	</ion-list>
	<ion-list *ngIf="m_lsFunctionList[3]" (click)="goLegalNotices()" class="list-ios">
		<a ion-item>{{'法律声明[法律声明]' | i18n}}</a>
	</ion-list>
	<ion-list *ngIf="m_lsFunctionList[4]" (click)="goCopyright()" class="list-ios">
		<a ion-item>{{'版权信息[版权信息]' | i18n}}</a>
	</ion-list>
	<ion-list *ngIf="m_lsFunctionList[5]" class="list-ios">
		<a ion-item>
			{{'服务电话[服务电话]' | i18n}}
			<em float-right>{{m_objContextService.m_objCompanyInfo.Phone}}</em>
		</a>
	</ion-list>
	<ion-list *ngIf="m_objContextService.isLogin()" margin-top class="list-ios">
		<a ion-item (click)="loginOFF()">{{'退出登录[退出登录]' | i18n}}</a>
	</ion-list>
</ion-content>
