page-member-bill {
	.all-info {
		width: 100%;
		overflow: hidden;

		li {
			float: left;
			width: 25%;
			height: rem(50);
			padding: 5px 0;
			background: #fff;
			text-align: center;

			p {
				font-size: rem(14);
				margin: 0 0 5px 0;
			}

			span {
				font-size: rem(12);
				color: #888888;
			}
		}
	}

	.bill-month {
		overflow: hidden;

		.rotate {
			transform: rotate(90deg);
		}

		.show {
			display: block !important;
		}

		li {
			background: #fff;

			h6 {
				padding: 8px 0;
				position: relative;

				&:after {
					content: "";
					position: absolute;
					left: -16px;
					bottom: 0;
					width: 150%;
					height: 1px;
					background: #e2e2e2;
				}
			}

			.bill-info-list {
				display: none;
				overflow: hidden;

				.head {
					.bill-info-all {
						position: relative;
						width: 100%;
						overflow:hidden;
						background: #fff;

						&:after {
							content:"";
							position: absolute;
							left: -16px;
							bottom: 0;
							width: 150%;
							height: 1px;
							background: #e2e2e2;
						}

						li {
							width: 33.33%;
							float: left;
							text-align: center;

							p {
								padding: 6px;
							}

							em {
								font-size: rem(14);
							}
						}
					}
				}

				li {
					height: rem(60);

					i {
						float: left;
						font-size: 34px;
						width: 12%;
						line-height: rem(60);
					}

					&:last-child {
						.bill-month-info {
							border-bottom: none;
						}
					}

					.bill-month-info {
						float: left;
						width: 88%;
						padding: 5px 0px;
						line-height: rem(25);
						border-bottom: 1px solid #e2e2e2;

						p {
							span {
								display: block;
								float: left;
								width: 50%;

								&:last-child {
									color: #e8541e;
								}
							}
						}

						em {
							font-size: rem(12);
							color: #888;
						}
					}
				}
			}
		}
	}
}
